@model List<Product>

@{
    ViewData["Title"] = "Get Product";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">All Farmer Products</h3>
        <hr />
    </div>
</div>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mt-2">
            <div class="card text-center shadow-lg">
                <div class="card-header">
                    @product.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @product.Details</h5>
                    <p class="card-text">
                        Created Date: @product.ProductionDate.ToString("MM/dd/yyyy")
                    </p>
                </div>
                <div class="card-footer text-muted">
                    Created By: @product.ApplicationUser.FirstName @product.ApplicationUser.LastName
                </div>
            </div>
        </div>
    }
</div>